{% extends "base.html" %} {% load static %} {% block content %}

<!-- forgot password link start -->
<section class="forgotpassword-section bg-dark vh-100">
  <div class="container h-100">
    <div class="row align-items-lg-center justify-content-lg-center h-100">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Forgot password?</h5>
            <form action="" method="post">
              {% csrf_token %} {{form.as_p}}
              <button class="btn btn-primary rounded-3 px-4 py-2">
                Send Link
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- forgot password link end -->
{% endblock %}
