{% extends "base.html" %} {% load static %} {% block content %}
<!-- forgot password done start -->
<section class="forgotpassworddone-section bg-light vh-100">
  <div class="container h-100">
    <div class="row align-items-lg-center justify-content-lg-center h-100">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Link Sent!</h5>
            <a
              href="{% url 'core:home' %}"
              class="btn btn-primary rounded-3 px-4 py-2"
              >Back to home</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- forgot password done end -->
{% endblock %}
