{% extends 'base.html' %} {% load static %} {% block content %}

<!-- about us start -->
<section class="about-section">
  <div class="container py-5">
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-auto">
        <div class="heading-1">
          <h1 class="text-center">About Us</h1>
          <div class="hl"></div>
        </div>
      </div>
    </div>
    <div class="row align-items-lg-center mb-5">
      <div class="col-lg-6">
        <div class="card">
          <img src="{% static 'img/product.png' %}" class="card-img" alt="" />
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <h5>Name of partner</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
          rerum reiciendis! Quis sit non dolores necessitatibus ad deserunt eius
          eos vel, corrupti aliquid illo eligendi totam numquam quod quibusdam
          consequatur!
        </p>
      </div>
    </div>
    <div class="row align-items-lg-center mb-5">
      <div class="col-lg-6 text-center">
        <h5>Name of partner</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
          rerum reiciendis! Quis sit non dolores necessitatibus ad deserunt eius
          eos vel, corrupti aliquid illo eligendi totam numquam quod quibusdam
          consequatur!
        </p>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img src="{% static 'img/product.png' %}" class="card-img" alt="" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-auto">
        <div class="heading-1">
          <h3 class="text-center">What's New?</h3>
          <div class="hl"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          harum doloribus nihil, et sapiente repudiandae ea fugiat soluta
          deleniti dicta, sint accusantium! Vitae culpa a blanditiis distinctio
          unde laudantium cumque.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- about us end -->

{% endblock content %}
