{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Delete Product</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <h5>Are you sure want to delete??</h5>
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





