{% load static %}

<!-- jquery -->
<script src="{% static 'theme/assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- Google Recaptcha -->
<script src="https://www.google.com/recaptcha/api.js"></script>
<!-- bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- fontawesome -->
<!-- <script src="{% static 'fontawesome/js/all.min.js' %}"></script> -->
<!-- count down -->
<script src="{% static 'theme/assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'theme/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'theme/assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'theme/assets/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'theme/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'theme/assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'theme/assets/js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'theme/assets/js/main.js' %}"></script>

<!-- scripts -->
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
