{% load static %}
<div class="single-testimonial-slider">
  <div class="client-avater">
    <img src="{% static 'theme/assets/img/avaters/avatar1.png' %}" alt="" />
  </div>
  <div class="client-meta">
    <h3>Saira Hakim <span>Local shop owner</span></h3>
    <p class="testimonial-body">
      " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
      architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium "
    </p>
    <div class="last-icon">
      <i class="fa-solid fa-quote-right"></i>
    </div>
  </div>
</div>
<div class="single-testimonial-slider">
  <div class="client-avater">
    <img src="{% static 'theme/assets/img/avaters/avatar2.png' %}" alt="" />
  </div>
  <div class="client-meta">
    <h3>David Niph <span>Local shop owner</span></h3>
    <p class="testimonial-body">
      " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
      architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium "
    </p>
    <div class="last-icon">
      <i class="fa-solid fa-quote-right"></i>
    </div>
  </div>
</div>
<div class="single-testimonial-slider">
  <div class="client-avater">
    <img src="{% static 'theme/assets/img/avaters/avatar3.png' %}" alt="" />
  </div>
  <div class="client-meta">
    <h3>Jacob Sikim <span>Local shop owner</span></h3>
    <p class="testimonial-body">
      " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
      architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium "
    </p>
    <div class="last-icon">
      <i class="fa-solid fa-quote-right"></i>
    </div>
  </div>
</div>

<div class="single-testimonial-slider">
  <div class="client-avater">
    <img src="{% static 'theme/assets/img/avaters/avatar3.png' %}" alt="" />
  </div>
  <div class="client-meta">
    <h3>Jacob Sikim <span>Local shop owner</span></h3>
    <p class="testimonial-body">
      " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
      architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium "
    </p>
    <div class="last-icon">
      <i class="fa-solid fa-quote-right"></i>
    </div>
  </div>
</div>
<div class="single-testimonial-slider">
  <div class="client-avater">
    <img src="{% static 'theme/assets/img/avaters/avatar3.png' %}" alt="" />
  </div>
  <div class="client-meta">
    <h3>Jacob Sikim <span>Local shop owner</span></h3>
    <p class="testimonial-body">
      " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
      architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium "
    </p>
    <div class="last-icon">
      <i class="fa-solid fa-quote-right"></i>
    </div>
  </div>
</div>
