{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheet -->
    {% include 'includes/styles.html' %}

    <title>{{ project_name }} | {{ page_name }}</title>
  </head>
  <body>


    {% include 'includes/header.html' %}
    {% include 'includes/message.html' %}
    {% block content %} {% endblock %}
    {% include 'includes/footer.html' %}
    {% include 'includes/copyright.html' %}

    <!-- scripts -->
    {% include 'includes/scripts.html' %}
  </body>
</html>
